# --- CMake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
#Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# --- Other stuff
build
*.bk
.vscode
.DSStore
*_results.txt
#RUN.sh
#BUILD.sh
TODO.txt
test

# --- Output binaries
bin/shmembench
shmembench

# --- Make artifacts
*.o
*.d
*.a
*.so
*.lo
*.la
.deps/
.libs/

target
rs/Cargo.lock
